{
    "presets": [
        "react",
        ["env", {
            "targets": {
                "node": true
            }
        }]
    ],
    "plugins": [
        "transform-class-properties",
        "transform-object-rest-spread"
    ]
}
