.delete-bar-wrapper{
    .delete-bar{
        cursor: pointer;
        padding: 5px 0;
        display: block;
        text-align: center;
        color: white;
        background: #e22b2a;
        margin-bottom: 10px;
    }
    &.show {
        display: block;
    }
    &.hide {
        display: none;
    }
    .button-group-delete{
        display: flex;
        justify-content: center;
        .decline-btn{
            margin-right: 20px;
        }
    }
}
