$text-gray: #a9a9a9;
$text-gray-dark: #7b7f7f;
$text-test-gray: #8d8c8b;
$bg-next-part: #dcdcdb;
$text-blue: #2f6dc6;
$color-blue-bg: #2278c9;
$blue-sky: #d3e3fb;
$bool-btn-color: #ccd6e3;
$bool-btn-hover: #a8c2d8;
$err-border-color: #ce6d4f;
$err-background : #fbe3d3;
$purple-color: #924799;
$orange-color: #c67e07;
$purple-blue-color: #49499f;
$dark-gray-color: #5a5a5c;
$light-gray-color: #e1e1e1;
$font-dark-gray: #626262;
$red: #e12d2d;
